@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h3>
    <a asp-controller="Product" asp-action="Index">Show All Products</a>
</h3>

<h3><a asp-route="ListOfProducts">List Of Products</a></h3>

<h3>
    <a asp-controller="Product"
       asp-action="Index"
       asp-fragment="BestSellingProducts">Best Selling Products</a>
</h3>


<h3>
    <a asp-protocol="https"
       asp-controller="Home"
       asp-action="Privacy">Privacy</a>
</h3>


<h3>
    <a asp-protocol="https"
       asp-host="microsoft.com"
       asp-controller="Home"
       asp-action="About">About</a>
</h3>


<h3>
    <a asp-area="Billing"
       asp-controller="Home"
       asp-action="Index">Billing Index</a>
</h3>


<h3>
    <a asp-area="AdminSupport"
       asp-controller="Home"
       asp-action="Index">AdminSupport Index</a>
</h3>

<h6 class="bg-primary text-white m-2 p-2">
    Uncached timestamp: @DateTime.Now.ToLongTimeString()
</h6>

@*<cache enabled="true">
        <h6 class="bg-primary text-white m-2 p-2">
            Cached timestamp: @DateTime.Now.ToLongTimeString()
        </h6>
    </cache>*@

@*<cache expires-after="@TimeSpan.FromSeconds(15)">
        <h6 class="bg-primary text-white m-2 p-2">
            Cached timestamp: @DateTime.Now.ToLongTimeString()
        </h6>
    </cache>*@


@*<cache expires-on="@new DateTime(2020,11,18,19,58,0)">
        <h6 class="bg-primary text-white m-2 p-2">
            Cached timestamp: @DateTime.Now.ToLongTimeString()
        </h6>
    </cache>*@

@*<cache expires-sliding="@TimeSpan.FromSeconds(60)">
        <h6 class="bg-primary text-white m-2 p-2">
            Cached timestamp: @DateTime.Now.ToLongTimeString()
        </h6>
    </cache>


    <environment names="development">
        <h2 class="bg-info text-white m-2 p-2">This is Development</h2>
    </environment>

    <environment names="production">
        <h2 class="bg-danger text-white m-2 p-2">This is Production</h2>
    </environment>*@